/* font import */
@import url("https://cdn.jsdelivr.net/gh/orioncactus/pretendard@v1.3.9/dist/web/static/pretendard.min.css");
@import url("https://fonts.googleapis.com/css2?family=Parisienne&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Noto+Serif+JP:wght@200..900&display=swap");

/* font config */
.right {
  font-weight: 200;
}

.bold {
  font-weight: 700;
}

.en_gothic {
  font-family: "pretendard";
  letter-spacing: -4px;
}

.en_wright {
  font-family: "Parisienne";
}

.hanja {
  font-family: "Noto Serif JP";
}

/* animation */
@keyframes star1 {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

@keyframes star2 {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(-360deg);
  }
}

@keyframes bounce {
  0% {
    transform: scale(0.9);
  }
  50% {
    transform: scale(1);
  }
  100% {
    transform: scale(0.9);
  }
}

/* variable */
:root {
  --bg-color-white: #fff;
  --bg-color-black: #333;
  --main-color-blue: #5389db;
  --point-color-orange: #ffaf37;
  --main-width: 1190px;
}

/* reset */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

ul,
ol,
li {
  list-style: none;
}

a {
  text-decoration: none;
  color: inherit;
}

body {
  font-family: "pretendard";
  letter-spacing: -1px;
  outline: none;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  -webkit-tap-highlight-color: transparent;
}

/* common */
#main_page_all {
  width: 100%;
  overflow: hidden;
}

/* navigation */
#navigation_header {
  width: 100%;
  height: 80px;
  background: #f3f6fb;
  position: fixed;
  transition: all 0.3s;
  z-index: 4;
}

#navigation {
  width: var(--main-width);
  height: 100%;
  position: relative;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0 auto;
  background: #f3f6fb;
}

.nav_title {
  font-size: 40px;
  color: var(--main-color-blue);
  opacity: 1;
  transition: all 0.3s;
}

.nav_title.active {
  opacity: 0;
}

.menu_icon {
  cursor: pointer;
  position: relative;
  width: 30px;
  height: 30px;
  span {
    display: block;
    height: 4px;
    border-radius: 3px;
    background: var(--bg-color-black);
    position: absolute;
    right: 0;
    transition: all 0.3s;
  }
  & span:nth-child(1) {
    top: 0;
    left: 0;
  }

  & span:nth-child(2) {
    top: 50%;
    left: 0;
    transform: translateY(-50%);
  }

  & span:nth-child(3) {
    bottom: 0;
    left: 0;
  }
  &.active span:nth-child(1) {
    top: 50%;
    right: 0;
    transform: rotate(45deg);
  }

  &.active span:nth-child(2) {
    opacity: 0;
  }

  &.active span:nth-child(3) {
    top: 50%;
    right: 0;
    transform: rotate(-45deg);
  }
}

.nav_logo {
  position: absolute;
  top: 16px;
  font-size: 40px;
  letter-spacing: 2px;
  color: var(--main-color-blue);
  opacity: 0;
  transition: all 0.3s;
}

.nav_logo.active {
  opacity: 1;
}

.top_menu {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: relative;
  left: 1355px;
  width: 200px;
  height: 0px;
  overflow: hidden;
  background: #f3f6fb;
  border-radius: 5px 0 5px 5px;
  transition: all 0.3s;
  li:nth-child(3) {
    display: none;
  }
}

.top_menu.open {
  height: 250px;
}

.top_menu li a {
  display: inline-block;
  width: 120px;
  height: 40px;
  text-align: center;
  line-height: 40px;
  margin: 6px;
  background: var(--bg-color-white);
  border-radius: 5px;
  border: 2px solid #1132a9;
  box-shadow: 2px 2px #1132a9;
}

/* title area */
#main_title_container {
  width: 100%;
  height: 894px;
  background-color: var(--main-color-blue);
  position: relative;
  z-index: -2;
}

#main_title {
  width: var(--main-width);
  height: 100%;
  margin: 0 auto;
}

#title_contents {
  padding-top: 80px;
  font-size: 400px;
  text-align: center;
  color: var(--bg-color-white);
}

#sub_text {
  font-size: 45px;
  color: var(--bg-color-white);
  position: absolute;
  top: 460px;
  left: 50%;
  transform: translateX(-50%);
}

#sub_text .en_wright {
  font-size: 80px;
}

#sub_title {
  font-size: 40px;
  color: var(--bg-color-white);
  position: absolute;
  top: 730px;
  left: 50%;
  transform: translateX(-50%);
}

.main_line {
  position: absolute;
  top: -158px;
  left: 180px;
  z-index: -1;
}

.star1 {
  position: absolute;
  top: 710px;
  left: 1333px;
  animation: star1 12s linear infinite;
}

.star2 {
  position: absolute;
  top: 820px;
  left: 1440px;
  animation: star2 12s linear infinite;
}

/* middle text area */
#before_banner {
  width: 100%;
  height: 120px;
  text-align: center;
  font-size: 45px;
  line-height: 120px;
  color: var(--main-color-blue);
}

/* section area */
.section_banner {
  background-color: var(--main-color-blue);
  width: 100%;
  height: 200px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.bn_main {
  display: flex;
}

.bn_subtext {
  color: var(--bg-color-white);
  font-size: 24px;
}

.bn_maintext {
  color: var(--bg-color-white);
  font-size: 50px;
  font-weight: 700;
}

.bn_emoji {
  margin-top: 5px;
  transform: scale(80%);
}

/* personality area */
.personality {
  width: 100%;
  height: 500px;
  background-color: var(--bg-color-black);
  position: relative;
  display: flex;
  justify-content: center;
}

#personality_main {
  display: flex;
  padding: 80px;
  color: var(--bg-color-white);
}

#personality_main > span {
  position: absolute;
  top: 100px;
  left: 875px;
  font-size: 35px;
  font-weight: 200;
}

.personality_maintext {
  height: 80px;
  text-align: center;
  line-height: 80px;
  padding: 0 40px;
  border-radius: 80px;
  &:first-child {
    background-color: var(--main-color-blue);
  }
  &:last-child {
    margin-left: 50px;
    background-color: var(--point-color-orange);
  }
}

.personality_maintext > span {
  font-size: 45px;
}

.personality_maintext > span .hanja {
  font-size: 30px;
}

#personality_icon {
  position: relative;
}

.personality_icon_emoji {
  display: inline-block;
  position: absolute;
  cursor: pointer;
  z-index: 1;
  &:nth-child(1) {
    top: -70px;
    left: -900px;
    padding: 120px;
    transform: scale(20%);
    border-radius: 100%;
    background-color: var(--main-color-blue);
  }
  &:nth-child(2) {
    top: -93px;
    left: -700px;
    padding: 120px;
    transform: scale(19.5%);
    border-radius: 100%;
    background-color: var(--point-color-orange);
  }
}

.personality_icon_backgd {
  display: block;
  position: absolute;
  width: 200px;
  height: 200px;
  border-radius: 100%;
  &:nth-child(3) {
    top: 215px;
    left: -607px;
    background: radial-gradient(circle, transparent 50%, #c4e7f6);
    animation: bounce 0.8s ease-out infinite;
  }
  &:nth-child(4) {
    top: 215px;
    left: -385px;
    background: radial-gradient(circle, transparent 50%, #ffe9c9);
    animation: bounce 0.8s ease-out infinite;
  }
}

.personality_desc {
  position: absolute;
  width: 50%;
  height: 300px;
  top: 200px;
  padding: 50px;
  overflow: hidden;
  z-index: 2;
  transition: all 0.5s;
  &.left {
    left: -50%;
    text-align: right;
    background-color: #c4e7f6;
    border-radius: 0 40px 0 0;
    .personality_desc_emoji {
      position: absolute;
      top: -100px;
      left: -100px;
      transform: rotate(30deg);
    }
  }
  &.right {
    left: 100%;
    background-color: #ffe9c9;
    border-radius: 40px 0 0 0;
    .personality_desc_emoji {
      position: absolute;
      top: -150px;
      left: 550px;
      transform: rotate(-30deg);
    }
  }
}

.personality_desc.left.active {
  left: 0;
}

.personality_desc.right.active {
  left: 50%;
}

.personality_desc_close {
  font-size: 24px;
  cursor: pointer;
}

.personality_desc_title {
  font-size: 30px;
  font-weight: 700;
  margin-bottom: 20px;
  .hanja {
    font-size: 20px;
    font-weight: 400;
  }
}

.personality_desc_desc {
  font-size: 20px;
  font-weight: 400;
  margin-bottom: 30px;
}

.personality_desc_source {
  font-weight: 400;
}

.personality_slide {
  width: 100%;
  position: relative;
  .personality_slide_img {
    width: 100%;
    height: 558px;
    transition: all 0.5s;
  }
  .personality_slide_text {
    /* background-color: #c4e7f6; */
    width: 500px;
    height: 558px;
    padding: 50px;
    position: absolute;
    top: 0;
    left: 960px;
    border-radius: 50px 0 0 0;
    transition: all 0.5s;
    h1 {
      font-size: 40px;
      margin: 30px 0;
    }
    p {
      font-size: 25px;
      line-height: 140%;
    }
  }
  .personality_slide_arrow {
    width: 1265px;
    position: absolute;
    left: 330px;
    top: 50%;
    transform: translateY(-50%);
    display: flex;
    justify-content: space-between;
    .personality_slide_btn > i {
      display: inline-block;
      width: 76px;
      height: 76px;
      font-size: 30px;
      text-align: center;
      line-height: 76px;
      background: #fff;
      border-radius: 50%;
      cursor: pointer;
    }
  }
}

/* history area */
#history {
  width: 100%;
  height: 520px;
  position: relative;
  background: #fff;
  .history_contents {
    width: var(--main-width);
    height: 400px;
    margin: 120px auto 0;
    display: flex;
    justify-content: space-between;
    .history_scroll {
      width: 900px;
      height: 100%;
      display: flex;
      overflow: scroll;
      -ms-overflow-style: none;
      &::-webkit-scrollbar {
        display: none;
      }
      li {
        font-size: 26px;
        line-height: 200%;
        margin-left: 50px;
      }
      li.bold {
        font-size: 26px;
        line-height: 200%;
        margin-left: 0;
        list-style-position: inside;
        list-style-image: url("//ecimg.cafe24img.com/pg1108b23660447004/sheephi0609/1P_My_Profile/marker.png");
      }
    }
    .history_photo {
      width: 300px;
      height: 400px;
      background: url("//ecimg.cafe24img.com/pg1108b23660447004/sheephi0609/1P_My_Profile/My_photo.png")
        center/cover no-repeat;
    }
  }
}
#history_mobile {
  display: none;
}

/* portfolio area */
#portfolio {
  width: 100%;
  height: 1350px;
  position: relative;
  .portfolio_contents {
    width: var(--main-width);
    height: 550px;
    margin: 120px auto 0;
    display: flex;
    .portfolio_contents_work {
      width: 690px;
      height: 550px;
      border-radius: 50px 0 0 0;
      transition: all 0.5s;
    }
    .portfolio_contents_text {
      width: 490px;
      margin-left: 10px;
      .portfolio_contents_title {
        width: 100%;
        height: 154px;
        border-radius: 50px 0 0 0;
        background: var(--point-color-orange);
        padding: 60px 50px 50px;
        font-weight: 700;
        font-size: 35px;
        text-align: center;
      }
      .portfolio_contents_desc {
        width: 100%;
        height: 386px;
        margin-top: 10px;
        display: flex;
        padding: 70px 70px;
        font-size: 30px;
        line-height: 150%;
        background: #ddd;
        .portfolio_title > ul > li:nth-child(2) {
          visibility: hidden;
        }
        .portfolio_info {
          margin-left: 20px;
        }
      }
    }
    .portfolio_slide_arrow {
      width: 1265px;
      position: absolute;
      left: 330px;
      top: 230px;
      display: flex;
      justify-content: space-between;
      .portfolio_slide_btn > i {
        display: inline-block;
        width: 76px;
        height: 76px;
        font-size: 30px;
        text-align: center;
        color: #fff;
        line-height: 76px;
        background: var(--bg-color-black);
        border-radius: 50%;
        cursor: pointer;
      }
    }
  }
  .portfolio_skill_title {
    width: var(--main-width);
    text-align: center;
    margin: 120px auto 0;
    font-size: 40px;
  }
  .portfolio_skill {
    width: var(--main-width);
    height: 422px;
    margin: 60px auto 120px;
    display: flex;
    gap: 10px;
    .skill_box {
      width: 290px;
      height: 100%;
      border-radius: 50px 0 0 0;
      &.blue {
        background: var(--main-color-blue);
      }
      &.orange {
        background: var(--point-color-orange);
      }
      .skill_title {
        display: flex;
        justify-content: center;
        font-size: 30px;
        font-weight: 700;
        line-height: 100px;
        color: #fff;
      }
      .skill_contents {
        display: inline-block;
        position: relative;
        left: 7px;
        width: 276px;
        height: 315px;
        background: var(--bg-color-white);
        ul {
          display: flex;
          flex-direction: column;
          &.skill_contest5 {
            padding-left: 20px;
            padding-top: 8px;
          }
          &.skill_contest4 {
            padding-left: 70px;
            padding-top: 30px;
          }
          &.skill_contest3W {
            padding-left: 65px;
            padding-top: 60px;
          }
          &.skill_contest3O {
            padding-left: 35px;
            padding-top: 60px;
          }
        }
        ul > li {
          display: flex;
          .skill_icon {
            img {
              margin-top: 10px;
              margin-right: 10px;
              width: 40px;
              height: 40px;
              object-fit: cover;
            }
          }
          .skill_text {
            font-size: 22px;
            line-height: 60px;
          }
        }
      }
    }
  }
}

/* hobby area */
#hobby {
  width: 100%;
  height: 2600px;
  background: var(--bg-color-black);
  .hobby_title {
    width: var(--main-width);
    height: 200px;
    margin: 0 auto;
    padding-top: 20px;
    line-height: 200px;
    text-align: center;
    color: var(--bg-color-white);
    .bold {
      font-size: 50px;
    }
    span {
      font-size: 26px;
    }
  }
  .hobby_contents {
    width: var(--main-width);
    height: 582px;
    margin: 0 auto;
    position: relative;
    .hobby_content_card_dw {
      position: absolute;
      top: 45px;
      cursor: pointer;
      z-index: 1;
      display: flex;
      flex-direction: column;
      gap: 10px;
      overflow: hidden;
      li {
        width: 244px;
        height: 160px;
        border-radius: 50px 0 0 0;
        overflow: hidden;
        &:nth-child(1) .card_text {
          top: 0;
          &:hover {
            opacity: 1;
          }
        }
        &:nth-child(2) .card_text {
          top: 170px;
          &:hover {
            opacity: 1;
          }
        }
        &:nth-child(3) .card_text {
          top: 340px;
          &:hover {
            opacity: 1;
          }
        }
        .card_text {
          position: absolute;
          top: 0;
          width: inherit;
          height: inherit;
          background: linear-gradient(to top, rgba(0, 0, 0, 0.7), transparent);
          color: #fff;
          display: flex;
          flex-direction: column;
          justify-content: flex-end;
          padding: 20px;
          opacity: 0;
          transition: all 0.5s;
          h1 {
            font-size: 30px;
          }
          p {
            font-size: 20px;
          }
        }
      }
    }
    .hobby_content_dw {
      position: absolute;
      right: 0;
      width: 980px;
      height: 100%;
      transition: all 0.3s;
    }
    .hobby_content_card_gm {
      position: absolute;
      top: 45px;
      cursor: pointer;
      z-index: 1;
      display: flex;
      flex-direction: column;
      gap: 10px;
      li {
        width: 244px;
        height: 160px;
        border-radius: 50px 0 0 0;
        overflow: hidden;
        &:nth-child(1) .card_text {
          top: 0;
          &:hover {
            opacity: 1;
          }
        }
        &:nth-child(2) .card_text {
          top: 170px;
          &:hover {
            opacity: 1;
          }
        }
        &:nth-child(3) .card_text {
          top: 340px;
          &:hover {
            opacity: 1;
          }
        }
        .card_text {
          position: absolute;
          top: 0;
          width: inherit;
          height: inherit;
          background: linear-gradient(to top, rgba(0, 0, 0, 0.7), transparent);
          color: #fff;
          display: flex;
          flex-direction: column;
          justify-content: flex-end;
          padding: 20px;
          opacity: 0;
          transition: all 0.5s;
          h1 {
            font-size: 30px;
          }
          p {
            font-size: 20px;
          }
        }
      }
    }
    .hobby_content_gm {
      position: absolute;
      right: 0;
      width: 980px;
      height: 100%;
      .video_gm {
        position: relative;
        iframe {
          width: 980px;
          height: 582px;
          position: absolute;
          transition: all 0.5s;
          opacity: 0;
          &:nth-child(1).active {
            opacity: 1;
          }
          &:nth-child(2).active {
            opacity: 1;
          }
          &:nth-child(3).active {
            opacity: 1;
          }
        }
      }
    }
    .hobby_content_card_ms {
      position: absolute;
      top: 45px;
      cursor: pointer;
      z-index: 1;
      display: flex;
      flex-direction: column;
      gap: 10px;
      li {
        width: 244px;
        height: 160px;
        border-radius: 50px 0 0 0;
        overflow: hidden;
        &:nth-child(1) .card_text {
          top: 0;
          &:hover {
            opacity: 1;
          }
        }
        &:nth-child(2) .card_text {
          top: 170px;
          &:hover {
            opacity: 1;
          }
        }
        &:nth-child(3) .card_text {
          top: 340px;
          &:hover {
            opacity: 1;
          }
        }
        .card_text {
          position: absolute;
          top: 0;
          width: inherit;
          height: inherit;
          background: linear-gradient(to top, rgba(0, 0, 0, 0.7), transparent);
          color: #fff;
          display: flex;
          flex-direction: column;
          justify-content: flex-end;
          padding: 20px;
          opacity: 0;
          transition: all 0.5s;
          h1 {
            font-size: 30px;
          }
          p {
            font-size: 20px;
          }
        }
      }
    }
    .hobby_content_ms {
      position: absolute;
      right: 0;
      width: 980px;
      height: 100%;
      .video_ms {
        position: relative;
        iframe {
          width: 980px;
          height: 582px;
          position: absolute;
          transition: all 0.5s;
          opacity: 0;
          &:nth-child(1).active {
            opacity: 1;
          }
          &:nth-child(2).active {
            opacity: 1;
          }
          &:nth-child(3).active {
            opacity: 1;
          }
        }
      }
    }
  }
}

/* footer area */
footer {
  width: 100%;
  height: 160px;
  background: var(--main-color-blue);
  #footer_background {
    width: var(--main-width);
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    .footer_text_area {
      position: relative;
      top: 27px;
      display: flex;
      align-items: center;
      gap: 23px;
      color: var(--bg-color-white);
      .footer_logo {
        font-size: 40px;
        letter-spacing: 2px;
      }
      p {
        font-weight: 300;
        letter-spacing: 0px;
      }
    }
    .footer_topbtn {
      position: relative;
      top: 27px;
      a {
        display: inline-block;
        width: 110px;
        height: 40px;
        text-align: center;
        line-height: 40px;
        font-size: 22px;
        color: var(--main-color-blue);
        margin: 7px;
        background: var(--bg-color-white);
        border-radius: 5px;
        border: 2px solid #1132a9;
        box-shadow: 2px 2px #1132a9;
        cursor: pointer;
      }
    }
  }
}

/* mobile page */
@media screen and (max-width: 1190px) and (min-width: 360px) {
  #navigation_header {
    height: 65px;
    #navigation {
      width: 100%;
      padding: 0 20px;
      .nav_logo {
        top: 8px;
      }
    }
    .top_menu {
      position: static;
      width: 100%;
      &.open {
        height: 250px;
      }
      li {
        width: 60%;
        &:nth-child(2) {
          display: none;
        }
        &:nth-child(3) {
          display: block;
        }
        a {
          width: 100%;
          font-size: 20px;
        }
      }
    }
  }
  #main_title_container {
    width: 100%;
    height: 70vh;
    #main_title {
      width: 80%;
      height: 100%;
      #title_contents {
        padding-top: 20vh;
        font-size: 130px;
      }
      #sub_text {
        font-size: 30px;
        top: 35vh;
        .en_wright {
          font-size: 65px;
        }
      }
    }
    #sub_title {
      font-size: 25px;
      top: 50vh;
    }
    & > div {
      .main_line {
        transform: scale(50%);
        top: -300px;
        left: -600px;
      }
      .star1 {
        display: none;
      }
      .star2 {
        display: none;
      }
    }
  }
  #before_banner {
    width: 100%;
    word-break: keep-all;
    font-size: 40px;
    line-height: 1.1;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  #personality_main {
    display: flex;
    flex-direction: column;
    gap: 10px;
    .personality_maintext {
      width: 100%;
      height: 60px;
      text-align: center;
      line-height: 1.3;
      border-radius: 80px;
      white-space: nowrap;
      &:last-child {
        margin-left: 0;
      }
    }
    & > span:nth-of-type(1) {
      display: none;
    }
  }
  #personality_icon {
    .personality_icon_emoji {
      margin-top: 20px;
      border-radius: 50%;
      &:nth-child(1) {
        left: -730px;
        padding: 120px;
        transform: scale(15%);
      }
      &:nth-child(2) {
        left: -600px;
        padding: 120px;
        transform: scale(14.5%);
      }
    }
    .personality_icon_backgd {
      margin-top: 20px;
      width: 150px;
      height: 150px;
      &:nth-child(3) {
        top: 240px;
        left: -410px;
      }
      &:nth-child(4) {
        top: 240px;
        left: -260px;
      }
    }
  }
  .personality_desc {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    padding: 50px;
    &.left {
      left: -100%;
      text-align: right;
      word-break: keep-all;
      .personality_desc_emoji {
        position: absolute;
        top: 30%;
        left: -60%;
        transform: scale(60%) rotate(30deg);
      }
    }
    &.right {
      left: 100%;
      background-color: #ffe9c9;
      .personality_desc_emoji {
        position: absolute;
        top: 30%;
        left: 0px;
        transform: scale(60%) rotate(-30deg);
      }
    }
  }

  .personality_desc.left.active {
    left: 0;
  }

  .personality_desc.right.active {
    left: 0;
  }
  .personality_slide {
    .personality_slide_img {
      height: 300px;
      background-position: -500px;
    }
    .personality_slide_text {
      width: 100%;
      height: 400px;
      padding: 30px;
      position: static;
      border-radius: 0;
      h1 {
        font-size: 30px;
        margin: 30px 0;
      }
      p {
        font-size: 20px;
      }
    }
    .personality_slide_arrow {
      width: 100%;
      position: absolute;
      left: 0;
      top: 43%;
    }
  }
  #history {
    display: none;
  }
  #history_mobile {
    display: block;
    .history_contents_mb {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      .history_photo_mb {
        margin-top: 50px;
        width: 80%;
        height: 400px;
        border-radius: 30px 0 0 0;
        background: url("//ecimg.cafe24img.com/pg1108b23660447004/sheephi0609/1P_My_Profile/My_photo.png")
          center/cover no-repeat;
      }
      .history_scroll_mb {
        display: flex;
        gap: 10px;
        overflow: scroll;
        margin: 40px 0;
        -ms-overflow-style: none;
        &::-webkit-scrollbar {
          display: none;
        }
        li {
          line-height: 150%;
        }
        li.bold {
          list-style: disc;
          list-style-position: inside;
        }
      }
    }
  }
  #main_page_all section:nth-of-type(9) {
    height: 300px;
    .bn_subtext {
      display: flex;
      flex-direction: column;
      text-align: center;
    }
    .bn_maintext {
      display: flex;
      flex-direction: column;
      text-align: center;
    }
    .bn_emoji {
      display: none;
    }
  }
  #portfolio {
    height: 300%;
    .portfolio_contents {
      width: 100%;
      height: 100%;
      margin: 50px auto 0;
      flex-direction: column;
      .portfolio_contents_work {
        width: 100%;
        height: 40vh;
        border-radius: 30px 0 0 0;
        background-position: center;
        background-size: cover;
      }
      .portfolio_contents_text {
        width: 100%;
        margin-top: 10px;
        margin-left: 0px;
        .portfolio_contents_title {
          width: 100%;
          height: 154px;
          border-radius: 0 0 0 0;
          padding: 40px 50px 50px;
          word-break: keep-all;
        }
        .portfolio_contents_desc {
          width: 100%;
          height: 260px;
          padding: 30px 50px;
          font-size: 24px;
        }
      }
      .portfolio_slide_arrow {
        width: 100%;
        left: 0px;
        top: 10%;
      }
    }
    .portfolio_skill_title {
      width: 100%;
      margin: 60px auto 0;
    }
    .portfolio_skill {
      width: 100%;
      height: 300%;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      .skill_box {
        .skill_contents {
          left: 7px;
          bottom: 7px;
          width: 276px;
          height: 320px;
        }
      }
    }
  }
  #hobby {
    height: 1500px;
    .hobby_title {
      width: 100%;
      padding-top: 0px;
      line-height: 200px;
      .bold {
        font-size: 40px;
      }
      span {
        font-size: 22px;
      }
    }
    .hobby_contents {
      width: 100%;
      height: 236px;
      margin: 0 auto;
      position: relative;
      .hobby_content_card_dw {
        display: flex;
        gap: 10px;
        position: absolute;
        top: 85%;
        left: 50%;
        transform: translate(-50%);
        flex-direction: row;
        li {
          width: 20px;
          height: 20px;
          border-radius: 50%;
          .card_text {
            display: none;
          }
          &:nth-child(1) {
            background: var(--main-color-blue);
          }
          &:nth-child(2),
          &:nth-child(3) {
            background: #ddd;
          }
          img {
            display: none;
          }
        }
      }
      .hobby_content_dw {
        width: 100%;
        height: 100%;
        background-position: center;
        background-size: cover;
      }
      .hobby_content_card_gm {
        display: flex;
        gap: 10px;
        position: absolute;
        top: 85%;
        left: 50%;
        transform: translate(-50%);
        flex-direction: row;
        li {
          width: 20px;
          height: 20px;
          border-radius: 50%;
          .card_text {
            display: none;
          }
          &:nth-child(1) {
            background: var(--main-color-blue);
          }
          &:nth-child(2),
          &:nth-child(3) {
            background: #ddd;
          }
          img {
            display: none;
          }
        }
      }
      .hobby_content_gm {
        width: 100%;
        height: 236px;
        .video_gm {
          iframe {
            width: 100%;
            height: 236px;
          }
        }
      }
      .hobby_content_card_ms {
        display: flex;
        gap: 10px;
        position: absolute;
        top: 85%;
        left: 50%;
        transform: translate(-50%);
        flex-direction: row;
        li {
          width: 20px;
          height: 20px;
          border-radius: 50%;
          .card_text {
            display: none;
          }
          &:nth-child(1) {
            background: var(--main-color-blue);
          }
          &:nth-child(2),
          &:nth-child(3) {
            background: #ddd;
          }
          img {
            display: none;
          }
        }
      }
      .hobby_content_ms {
        width: 100%;
        height: 236px;
        .video_ms {
          iframe {
            width: 100%;
            height: 236px;
          }
        }
      }
    }
  }
  footer {
    width: 100%;
    height: 160px;
    #footer_background {
      width: 80%;
      .footer_text_area {
        flex-direction: column;
        align-items: flex-start;
        gap: 0px;
        .footer_logo {
          font-size: 40px;
          letter-spacing: 2px;
        }
        p {
          font-weight: 300;
          letter-spacing: 0px;
        }
      }
      .footer_topbtn {
        top: 30px;
        a {
          height: 100px;
          line-height: 100px;
          border-radius: 20%;
        }
      }
    }
  }
}
