/* font import */
@import url("https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@100..900&display=swap");
/* reset */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

ul,
li {
  list-style: none;
}

a {
  text-decoration: none;
  color: inherit;
}

body {
  font-family: "Noto Sans KR", sans-serif;
  color: #0f0f0f;
}
body #app_container {
  width: 100%;
}

header .banner {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 40px;
  background: #0f0f0f;
  color: #fff;
}
header .banner span {
  color: #e71b1b;
  cursor: pointer;
}
header .navigation_heading {
  width: 100%;
  height: 100px;
  display: flex;
  justify-content: center;
}
header .navigation_heading .navigation {
  width: 1280px;
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  padding-bottom: 20px;
}
header .navigation_heading .navigation .gnb > ul {
  display: flex;
  font-size: 20px;
  font-weight: 700;
  gap: 30px;
}
header .navigation_heading .navigation .gnb > ul li {
  cursor: pointer;
  transition: all 0.3s;
}
header .navigation_heading .navigation .gnb > ul li:hover {
  color: #e71b1b;
}
header .lnb_heading_back {
  width: 100%;
  height: 50px;
  background: #f5f5f5;
  display: flex;
  justify-content: center;
}
header .lnb_heading_back .lnb_banner {
  width: 1280px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  overflow: hidden;
}
header .lnb_heading_back .lnb_banner .rolling_area {
  display: flex;
  position: relative;
  gap: 10px;
  width: 400px;
  height: 19px;
  overflow: hidden;
}
header .lnb_heading_back .lnb_banner .rolling_area .rolling {
  display: flex;
  gap: 50px;
  position: absolute;
  top: -4px;
  left: 30px;
}
header .lnb_heading_back .lnb_banner .rolling_area .rolling .name {
  font-weight: 700;
}
header .lnb_heading_back .lnb_banner .rolling_area .rolling .name li {
  position: absolute;
  top: -36px;
  left: 0;
}
header .lnb_heading_back .lnb_banner .rolling_area .rolling .name li.prev {
  top: -36px;
  transition: top 0.5s;
}
header .lnb_heading_back .lnb_banner .rolling_area .rolling .name li.current {
  top: 0;
  transition: top 0.5s;
}
header .lnb_heading_back .lnb_banner .rolling_area .rolling .name li.next {
  top: 36px;
}
header .lnb_heading_back .lnb_banner .rolling_area .rolling .comment {
  width: 300px;
  position: relative;
  left: 50px;
}
header .lnb_heading_back .lnb_banner .rolling_area .rolling .comment li {
  position: absolute;
  top: -36px;
  left: 0;
}
header .lnb_heading_back .lnb_banner .rolling_area .rolling .comment li.prev {
  top: -36px;
  transition: top 0.5s;
}
header .lnb_heading_back .lnb_banner .rolling_area .rolling .comment li.current {
  top: 0;
  transition: top 0.5s;
}
header .lnb_heading_back .lnb_banner .rolling_area .rolling .comment li.next {
  top: 36px;
}
header .lnb_heading_back .lnb_banner .lnb ul {
  display: flex;
  gap: 20px;
}
header .lnb_heading_back .lnb_banner .lnb ul li {
  cursor: pointer;
}
header .lnb_heading_back .lnb_banner .lnb ul li.redbold {
  color: #e71b1b;
  font-weight: 700;
}

.mainbanner_area {
  width: 100%;
  height: 400px;
  margin-top: 20px;
  position: relative;
}
.mainbanner_area .mainbanner_back {
  width: 100%;
  height: 100%;
  overflow: hidden;
  position: relative;
}
.mainbanner_area .mainbanner_back img {
  width: 150%;
  height: 150%;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  -o-object-fit: cover;
     object-fit: cover;
  filter: blur(10px);
  -webkit-filter: blur(10px);
  opacity: 0;
  transition: all 0.3s;
}
.mainbanner_area .mainbanner_back img.active {
  opacity: 1;
}
.mainbanner_area .mainbanner {
  width: 1280px;
  height: 100%;
  position: absolute;
  top: 0;
  left: 50%;
  cursor: pointer;
  transform: translateX(-50%);
}
.mainbanner_area .mainbanner .mainslide_img {
  width: 100%;
  height: 100%;
  background-size: cover;
  background-position: center;
  transition: all 0.3s;
}
.mainbanner_area .mainbanner .mainslide_arrow {
  width: 1280px;
  position: absolute;
  top: 30%;
  display: flex;
  justify-content: space-between;
  padding: 50px;
  font-size: 40px;
  color: #fff;
}
.mainbanner_area .mainbanner .mainslide_arrow div {
  cursor: pointer;
}
.mainbanner_area .mainbanner .mainslide_pager {
  display: flex;
  gap: 10px;
  position: absolute;
  top: 92%;
  left: 50%;
  transform: translateX(-50%);
}
.mainbanner_area .mainbanner .mainslide_pager span {
  width: 15px;
  height: 15px;
  background: #fff;
  border-radius: 50%;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.3);
  cursor: pointer;
  opacity: 0.5;
}
.mainbanner_area .mainbanner .mainslide_pager span.active {
  opacity: 1;
}

#main_contents {
  width: 1280px;
  display: flex;
  margin: 95px auto;
  position: relative;
}
#main_contents .contents {
  width: 100%;
  display: flex;
  gap: 18px;
}
#main_contents .contents .item {
  width: 306px;
  height: 440px;
  border-radius: 10px;
  overflow: hidden;
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.1);
}
#main_contents .contents .item .item_img1 {
  width: 100%;
  height: 184px;
  background: url("./img/gallery.png");
}
#main_contents .contents .item .item_img2 {
  width: 100%;
  height: 184px;
  background: url("./img/campus.png");
}
#main_contents .contents .item .item_img3 {
  width: 100%;
  height: 184px;
  background: url("./img/interview.png");
}
#main_contents .contents .item .item_text {
  padding: 24px;
}
#main_contents .contents .item .item_text .item_title .item_text_subtitle {
  display: inline-block;
  font-size: 12px;
  padding: 5px 10px;
  color: #fff;
  border-radius: 30px;
}
#main_contents .contents .item .item_text .item_title .item_text_subtitle.red {
  background: #e71b1b;
}
#main_contents .contents .item .item_text .item_title .item_text_subtitle.black {
  background: #0f0f0f;
}
#main_contents .contents .item .item_text .item_title .item_text_title {
  display: inline-block;
  font-weight: 700;
  font-size: 20px;
  border-bottom: 3px solid #e71b1b;
  margin: 6px 0 15px;
}
#main_contents .contents .item .item_text .item_title .item_text_desc {
  font-size: 12px;
  word-break: break-all;
  margin-bottom: 16px;
}
#main_contents .contents .item .item_text .item_title .item_text_button {
  font-weight: 700;
  color: #e71b1b;
  cursor: pointer;
  transition: all 0.3s;
}
#main_contents .contents .item .item_text .item_title .item_text_button .fa-solid {
  transition: all 0.3s;
}
#main_contents .contents .item .item_text .item_title .item_text_button:hover {
  color: #0f0f0f;
}
#main_contents .contents .item .item_text .item_title .item_text_button:hover .fa-solid {
  transform: translateX(10px);
}
#main_contents .guide_more {
  position: absolute;
  top: 50%;
  right: 0;
  width: 350px;
  height: 330px;
  transform: translateY(-50%);
  border-radius: 69% 31% 33% 67%/66% 50% 50% 34%;
  background: #e71b1b;
  text-align: center;
  font-size: 25px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
#main_contents .guide_more h2 {
  color: #fff;
  line-height: 1.25;
  margin-bottom: 15px;
  padding-top: 20px;
}
#main_contents .guide_more i {
  width: 60px;
  height: 60px;
  font-size: 35px;
  line-height: 60px;
  color: #e71b1b;
  border-radius: 50%;
  border: 1px solid transparent;
  background: #fff;
  cursor: pointer;
  transition: all 0.3s;
}
#main_contents .guide_more i:hover {
  background: #e71b1b;
  border: 1px solid #fff;
  color: #fff;
}

#contest_area {
  width: 100%;
  height: auto;
}
#contest_area.grey {
  background: #f5f5f5;
}
#contest_area.white {
  background: #fff;
}
#contest_area .contest_inner {
  width: 1280px;
  margin: 0 auto;
}
#contest_area .contest_inner h2 {
  font-size: 35px;
  text-align: center;
  padding: 70px 0 40px;
}
#contest_area .contest_inner h2 span {
  color: #e71b1b;
}
#contest_area .contest_inner .contest_slide .contest_item {
  display: flex;
  flex-direction: column;
  justify-content: center;
}
#contest_area .contest_inner .contest_slide .contest_item .contest_item_img {
  width: 240px;
  background: #ddd;
  border-radius: 10px;
}
#contest_area .contest_inner .contest_slide .contest_item .contest_item_img.h240 {
  height: 240px;
}
#contest_area .contest_inner .contest_slide .contest_item .contest_item_img.h110 {
  height: 110px;
}
#contest_area .contest_inner .contest_slide .contest_item .contest_item_title {
  display: flex;
  flex-direction: column;
  font-size: 18px;
  font-weight: 700;
  letter-spacing: -1px;
  margin-top: 5px;
}
#contest_area .contest_inner .contest_slide .contest_item .contest_item_desc {
  margin-top: 10px;
}
#contest_area .contest_inner .contest_slide .contest_item .contest_item_desc .desc1 {
  font-size: 14px;
}
#contest_area .contest_inner .contest_slide .contest_item .contest_item_desc .desc2 {
  font-size: 12px;
  color: #e71b1b;
  margin-bottom: 75px;
}

#labbanner_area {
  width: 100%;
  height: 300px;
  background: url("./img/lab.png");
  color: #fff;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: relative;
}
#labbanner_area::before {
  content: "";
  background: linear-gradient(to right, rgba(237, 27, 27, 0.3), rgba(0, 0, 0, 0.7));
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
}
#labbanner_area h2 {
  font-size: 35px;
  z-index: 1;
}
#labbanner_area p {
  font-size: 25px;
  font-weight: 300;
  z-index: 1;
}
#labbanner_area a {
  padding: 10px 30px;
  margin-top: 20px;
  background: #e71b1b;
  border-radius: 50px;
  font-size: 25px;
  z-index: 1;
  transition: all 0.3s;
}
#labbanner_area a:hover {
  background: #fff;
  color: #e71b1b;
}

#news_contents_area {
  width: 100%;
  height: auto;
}
#news_contents_area .news_inner {
  width: 1280px;
  height: 100%;
  margin: 0 auto;
}
#news_contents_area .news_inner > h2 {
  font-size: 35px;
  margin-top: 85px;
  text-align: center;
}
#news_contents_area .news_inner > h2 span {
  color: #e71b1b;
}
#news_contents_area .news_inner .news_contents {
  display: flex;
  gap: 40px;
}
#news_contents_area .news_inner .news_contents .news_title {
  color: #e71b1b;
  font-weight: 700;
  font-size: 18px;
  margin: 60px 0 20px;
}
#news_contents_area .news_inner .news_contents .news_left .youtube_content {
  display: flex;
  gap: 30px;
}
#news_contents_area .news_inner .news_contents .news_left .youtube_content .youtube_content_img {
  width: 300px;
  height: 175px;
  background: #ddd;
}
#news_contents_area .news_inner .news_contents .news_left .youtube_content .youtube_content_text {
  width: 500px;
}
#news_contents_area .news_inner .news_contents .news_left .youtube_content .divider {
  display: inline-block;
  width: 500px;
}