/* font import */
@import url("https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@100..900&display=swap");

/* reset */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

ul,
li {
  list-style: none;
}

a {
  text-decoration: none;
  color: inherit;
}

// variable
$main-black-color: #0f0f0f;
$main-white-color: #fff;
$main-gray-color: #f5f5f5;
$main-red-color: #e71b1b;
$main-width: 1280px;

// common
body {
  font-family: "Noto Sans KR", sans-serif;
  color: $main-black-color;
  #app_container {
    width: 100%;
  }
}

// header
header {
  .banner {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 40px;
    background: $main-black-color;
    color: $main-white-color;
    span {
      color: $main-red-color;
      cursor: pointer;
    }
  }
  .navigation_heading {
    width: 100%;
    height: 100px;
    display: flex;
    justify-content: center;
    .navigation {
      width: $main-width;
      display: flex;
      justify-content: space-between;
      align-items: flex-end;
      padding-bottom: 20px;
      .gnb > ul {
        display: flex;
        font-size: 20px;
        font-weight: 700;
        gap: 30px;
        li {
          cursor: pointer;
          transition: all 0.3s;
          &:hover {
            color: $main-red-color;
          }
        }
      }
    }
  }
  .lnb_heading_back {
    width: 100%;
    height: 50px;
    background: $main-gray-color;
    display: flex;
    justify-content: center;
    .lnb_banner {
      width: $main-width;
      display: flex;
      justify-content: space-between;
      align-items: center;
      overflow: hidden;
      .rolling_area {
        display: flex;
        position: relative;
        gap: 10px;
        width: 400px;
        height: 19px;
        overflow: hidden;
        .rolling {
          display: flex;
          gap: 50px;
          position: absolute;
          top: -4px;
          left: 30px;
          .name {
            font-weight: 700;
            li {
              position: absolute;
              top: -36px;
              left: 0;
              &.prev {
                top: -36px;
                transition: top 0.5s;
              }
              &.current {
                top: 0;
                transition: top 0.5s;
              }
              &.next {
                top: 36px;
              }
            }
          }
          .comment {
            width: 300px;
            position: relative;
            left: 50px;
            li {
              position: absolute;
              top: -36px;
              left: 0;
              &.prev {
                top: -36px;
                transition: top 0.5s;
              }
              &.current {
                top: 0;
                transition: top 0.5s;
              }
              &.next {
                top: 36px;
              }
            }
          }
        }
      }
      .lnb ul {
        display: flex;
        gap: 20px;
        li {
          cursor: pointer;
          &.redbold {
            color: $main-red-color;
            font-weight: 700;
          }
        }
      }
    }
  }
}

// main
.mainbanner_area {
  width: 100%;
  height: 400px;
  margin-top: 20px;
  position: relative;
  .mainbanner_back {
    width: 100%;
    height: 100%;
    overflow: hidden;
    position: relative;
    img {
      width: 150%;
      height: 150%;
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      object-fit: cover;
      filter: blur(10px);
      -webkit-filter: blur(10px);
      opacity: 0;
      transition: all 0.3s;
      &.active {
        opacity: 1;
      }
    }
  }
  .mainbanner {
    width: $main-width;
    height: 100%;
    position: absolute;
    top: 0;
    left: 50%;
    cursor: pointer;
    transform: translateX(-50%);
    .mainslide_img {
      width: 100%;
      height: 100%;
      background-size: cover;
      background-position: center;
      transition: all 0.3s;
    }
    .mainslide_arrow {
      width: $main-width;
      position: absolute;
      top: 30%;
      display: flex;
      justify-content: space-between;
      padding: 50px;
      font-size: 40px;
      color: #fff;
      div {
        cursor: pointer;
      }
    }
    .mainslide_pager {
      display: flex;
      gap: 10px;
      position: absolute;
      top: 92%;
      left: 50%;
      transform: translateX(-50%);
      span {
        width: 15px;
        height: 15px;
        background: #fff;
        border-radius: 50%;
        box-shadow: 0 0 5px rgba($color: #000000, $alpha: 0.3);
        cursor: pointer;
        opacity: 0.5;
        &.active {
          opacity: 1;
        }
      }
    }
  }
}

#main_contents {
  width: $main-width;
  display: flex;
  margin: 95px auto;
  position: relative;
  .contents {
    width: 100%;
    display: flex;
    gap: 18px;
    .item {
      width: 306px;
      height: 440px;
      border-radius: 10px;
      overflow: hidden;
      box-shadow: 0 0 15px rgba($color: #000000, $alpha: 0.1);
      .item_img1 {
        width: 100%;
        height: 184px;
        background: url("./img/gallery.png");
      }
      .item_img2 {
        width: 100%;
        height: 184px;
        background: url("./img/campus.png");
      }
      .item_img3 {
        width: 100%;
        height: 184px;
        background: url("./img/interview.png");
      }
      .item_text {
        padding: 24px;
        .item_title {
          .item_text_subtitle {
            display: inline-block;
            font-size: 12px;
            padding: 5px 10px;
            color: #fff;
            border-radius: 30px;
            &.red {
              background: $main-red-color;
            }
            &.black {
              background: $main-black-color;
            }
          }
          .item_text_title {
            display: inline-block;
            font-weight: 700;
            font-size: 20px;
            border-bottom: 3px solid $main-red-color;
            margin: 6px 0 15px;
          }
          .item_text_desc {
            font-size: 12px;
            word-break: break-all;
            margin-bottom: 16px;
          }
          .item_text_button {
            font-weight: 700;
            color: $main-red-color;
            cursor: pointer;
            transition: all 0.3s;
            .fa-solid {
              transition: all 0.3s;
            }
            &:hover {
              color: $main-black-color;
              .fa-solid {
                transform: translateX(10px);
              }
            }
          }
        }
      }
    }
  }
  .guide_more {
    position: absolute;
    top: 50%;
    right: 0;
    width: 350px;
    height: 330px;
    transform: translateY(-50%);
    border-radius: 69% 31% 33% 67% / 66% 50% 50% 34%;
    background: $main-red-color;
    text-align: center;
    font-size: 25px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    h2 {
      color: $main-white-color;
      line-height: 1.25;
      margin-bottom: 15px;
      padding-top: 20px;
    }
    i {
      width: 60px;
      height: 60px;
      font-size: 35px;
      line-height: 60px;
      color: $main-red-color;
      border-radius: 50%;
      border: 1px solid transparent;
      background: $main-white-color;
      cursor: pointer;
      transition: all 0.3s;
      &:hover {
        background: $main-red-color;
        border: 1px solid $main-white-color;
        color: $main-white-color;
      }
    }
  }
}

#contest_area {
  width: 100%;
  height: auto;
  &.grey {
    background: $main-gray-color;
  }
  &.white {
    background: $main-white-color;
  }
  .contest_inner {
    width: $main-width;
    margin: 0 auto;
    h2 {
      font-size: 35px;
      text-align: center;
      padding: 70px 0 40px;
      span {
        color: $main-red-color;
      }
    }
    .contest_slide {
      .contest_item {
        display: flex;
        flex-direction: column;
        justify-content: center;
        .contest_item_img {
          width: 240px;
          background: #ddd;
          border-radius: 10px;
          &.h240 {
            height: 240px;
          }
          &.h110 {
            height: 110px;
          }
        }
        .contest_item_title {
          display: flex;
          flex-direction: column;
          font-size: 18px;
          font-weight: 700;
          letter-spacing: -1px;
          margin-top: 5px;
        }
        .contest_item_desc {
          margin-top: 10px;
          .desc1 {
            font-size: 14px;
          }
          .desc2 {
            font-size: 12px;
            color: $main-red-color;
            margin-bottom: 75px;
          }
        }
      }
    }
  }
}

#labbanner_area {
  width: 100%;
  height: 300px;
  background: url("./img/lab.png");
  color: $main-white-color;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: relative;
  &::before {
    content: "";
    background: linear-gradient(
      to right,
      rgba(237, 27, 27, 0.3),
      rgba(0, 0, 0, 0.7)
    );
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
  }
  h2 {
    font-size: 35px;
    z-index: 1;
  }
  p {
    font-size: 25px;
    font-weight: 300;
    z-index: 1;
  }
  a {
    padding: 10px 30px;
    margin-top: 20px;
    background: $main-red-color;
    border-radius: 50px;
    font-size: 25px;
    z-index: 1;
    transition: all 0.3s;
    &:hover {
      background: $main-white-color;
      color: $main-red-color;
    }
  }
}

#news_contents_area {
  width: 100%;
  height: auto;
  .news_inner {
    width: $main-width;
    height: 100%;
    margin: 0 auto;
    & > h2 {
      font-size: 35px;
      margin-top: 85px;
      text-align: center;
      span {
        color: $main-red-color;
      }
    }
    .news_contents {
      display: flex;
      gap: 40px;
      .news_title {
        color: $main-red-color;
        font-weight: 700;
        font-size: 18px;
        margin: 60px 0 20px;
      }
      .news_left {
        .youtube_content {
          display: flex;
          gap: 30px;
          .youtube_content_img {
            width: 300px;
            height: 175px;
            background: #ddd;
          }
          .youtube_content_text {
            width: 500px;
          }
          .divider {
            display: inline-block;
            width: 500px;
          }
        }
      }
    }
  }
}
